* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
.rating {
  color: gold;
}
.numReviews {
  color: black;
}
.price {
  color: rgb(59, 51, 51);
}
.name {
  color: black;
}
.image {
  border-radius: 10px;
}
.Home {
  color: gold;
}
.block {
  background-color: rgb(228, 251, 13);
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: rgb(2, 2, 2);
}
.error {
  color: rgb(15, 2, 2);
  background-color: orange;
  display: inline;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
}
.sabad {
  color: black;
}
.success {
  color: rgb(15, 2, 2);
  background-color: rgb(162, 226, 12);
  display: inline;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
}
